<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
}

.header > button {
    border-radius: 8px;
    padding: 10px;
    height: 50px;
}

.section1 {
    height: 400px;
    width: 100%;
=======
.image {
    width: 100px;
<<<<<<< HEAD
    height: 100px;
=======
>>>>>>> 7a55068d3d40ff4ad87917036d8d36072acccda5
>>>>>>> bd00e540aa6ea356045b2687a59f73a443cbe4b3
}